[alias]
    lgb = log --graph --decorate --pretty=format:'%C(auto)%h%d%Creset %s %C(green)%cr%Creset'
    lg = lgb --all

# ---------------------
# Local Additions
# ---------------------

[include]
    path = ~/.gitconfig.local
